<main class="container">
    <div>
        <div class="landing-box landing-form">
            <span class="landing-title">Masuk</span>
            <form action="">
                <div class="form-group">
                    <label for="username">No. KTP / No. HP / Email</label>
                    <input type="text" required="required" name="username" id="username" data-required-msg="Nomor induk kependudukan / no. hp / email kamu harus diisi" class="form-control k-invalid" aria-invalid="true" placeholder="No. KTP / No. HP / Email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" required="required" name="password" id="password" data-required-msg="Password tidak boleh kosong" class="form-control k-invalid" aria-invalid="true" placeholder="Password">
                </div>
                <button class="btn btn-block btn-primary">Masuk Sekarang</button>
                <br/>
                <div class="text-center">
                    <a href="#">Lupa Password</a>
                </div>
            </form>
        </div>
    </div>
</main>
