<main class="container">
    <div>
        <div class="landing-box landing-form">
            <span class="landing-title">Akses di Tolak</span>
            <p class="text-center landing-description">
                Maaf, Anda tidak mempunyai hak akses untuk mengakses halaman ini.
            </p>
        </div>

        <div class="text-center">
            <a routerLink="/dashboard">
                <small>Kembali ke Halaman Utama</small>
            </a>
        </div>
    </div>
</main>
