<section class="banner" id="banner">
    <div class="container">
        <div class="banner-content d-flex flex-column flex-lg-row justify-content-lg-between align-items-lg-center">
            <div class="section">
                <h1 class="no-margin no-padding mb-4">Lowongan dan Lamaran</h1>
                <p>
                    Halaman pencarian lowongan dan lamaran pekerjaan
                </p>
            </div>
        </div>

        <div class="row mt-3 mb-3">
            <div class="col-12 col-md-7 mb-md-0 mb-3">
                <div class="search">
                    <form role="form">
                        <i class="fa fa-search"></i>
                        <input autocomplete="off" type="text" class="search-text" name="value"
                               placeholder="Cari Lowongan Pekerjaan" (keyup)="cari($event)"/>
                    </form>
                </div>
            </div>

            <div class="col-12 col-md-3 ml-md-auto align-self-center">
                <div class="d-flex filter-section">
                    <button class="btn btn-default">Filter</button>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container banner-content-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="card d-flex align-items-center justify-content-center p-4">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr class="bg-primary text-white">
                            <th>No</th>
                            <th>Pekerjaan</th>
                            <th>Dibuka s/d</th>
                            <th>Lihat Syarat</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of pekerjaan">
                            <td>{{ p.id }}</td>
                            <td>{{ p.name }}</td>
                            <td>{{ p.tanggal }}</td>
                            <td>
                                <button class="btn btn-sm btn-primary">Lihat Syarat</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
