<nav class="navbar d-flex align-items-center justify-content-between homepage">
    <div class="container">
        <a routerlink="/" href="/" class="navbar-brand">
            <img alt="logo" src="/assets/images/logo-white.png" title="Kemnaker RI" class="cover">
        </a>

        <button type="button" class="navbar-toggler">
            <span class="navbar-toggler-icon">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </button>

        <div id="navbar-collapse">
            <ul class="navbar-nav align-items-center">
                <li class="nav-item">
                    <a class="btn btn-outline-light btn-md" routerLink="/auth/register">Daftar</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-light btn-md ml-2" routerLink="/login">Masuk</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-light btn-md ml-2 text-primary" routerLink="/lowongan">Lowongan</a>
                </li>
                <li class="nav-item ml-2">
                    <naker-service-picker></naker-service-picker>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>

<footer>
    <div class="container">
        <div
            class="d-flex text-center text-lg-left align-items-center align-items-lg-end justify-content-between flex-column flex-lg-row">
            <div class="site-info">
                <a routerLink="/">
                    <img alt="logo" class="logo" src="/assets/images/logo-white.png"/>
                </a>
                <p>Jl. Jendral Gatot Subroto Kav. 51, Daerah Khusus <br>Ibukota Jakarta 12750, Indonesia</p>
                <div class="d-flex flex-column flex-lg-row row">
                    <div class="phone">Telp: 021-5255733</div>
                    <div class="call-center">Call Center: 021-50816000
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column align-items-center align-items-lg-end mt-4">
                <div class="social-icon">
                    <ul>
                        <li id="facebook-1">
                            <a href="https://facebook.com/KemnakerRI" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li id="twitter-1">
                            <a href="https://twitter.com/KemnakerRI" target="_blank"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li id="instagram-1">
                            <a href="https://instagram.com/kemnaker" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                        </li>
                        <li id="youtube-1">
                            <a href="https://www.youtube.com/channel/UCXX-orbQDc0LVXhVB1I0K3g" target="_blank"><i
                                class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
                <div>
                    <a href="https://beta.kemnaker.go.id/information/about">Tentang Kemnaker</a>
                    <a href="https://beta.kemnaker.go.id/information/contact">Hubungi Kami</a>
                    <a href="https://beta.kemnaker.go.id/information/sitemap">Peta Situs</a>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row text-center text-lg-left">
            Kementerian Ketenagakerjaan Republik Indonesia &copy; {{ year }} • Hak Cipta Dilindungi Undang-Undang.
        </div>
    </div>
</footer>
