@import '../../../../../../../scss/variables';

:host {
    /deep/ {
        .banner {
            padding: 60px 0 160px;
            margin-top: 72px;
            background: #15406a;
            color: #fff;

            .banner-content {
                padding: 0;

                /* filter */
                &.filter-section {
                    padding: 20px 0;
                }
            }

            .search {
                position: relative;
                //min-width: 360px;

                form {
                    display: flex;
                    background: #2d5378;
                    border-radius: $box-radius;
                    align-items: center;
                    padding-left: 20px;
                    overflow: hidden;
                    max-width: 100%;

                    &.autohide {
                        position: absolute;
                        right: 0;
                        bottom: 15px;
                        width: 50px;
                        transition: 0.5s all;
                        background: transparent;

                        &:hover {
                            width: 400px;
                            background: #2d5378;
                        }
                    }

                    i {
                        color: white;
                        margin-right: 10px;
                    }

                    input {
                        background: transparent;
                        border: none;
                        padding: 10px;
                        color: $white;
                        flex: 1;
                        outline: 0;

                        &::placeholder {
                            color: $softer-gray;
                        }
                    }

                    .clear-input {
                        margin-right: 10px;
                        opacity: 0.8;

                        i {
                            &:hover {
                                cursor: pointer;
                                opacity: 0.3;
                            }
                        }
                    }
                }
            }

            .filter-section {
                > .k-widget,
                > button {
                    width: 100%;
                }
            }
        }

        /* grid container */
        .banner-content-wrapper {
            position: relative;
            margin-top: -150px;
            min-height: 200px;
            padding-bottom: 30px;

            [class*='col-'] {
                margin-bottom: 30px;
            }

            .not-found,
            .loading-component {
                background: white;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        .navbar {
            width: 100%;
            top: 0;
            left: 0;
            padding: 10px 15px;
            background: #15406a;
            position: fixed;
            height: 72px !important;
            color: #fff;
            z-index: 8000;
            transition: all 0.3s ease-out;

            .navbar-brand {
                margin: 0;
                padding: 0;

                &:hover {
                    background: none;
                }
            }

            .navbar-nav {
                flex-direction: row;

                > li.nav-item {
                    > .btn {
                        font-size: 0.875rem;
                        color: #fff;
                        font-weight: 700;
                        line-height: 22px;

                        &:hover {
                            color: #212529;
                            background-color: #f1f3f5;
                            opacity: 0.8;
                        }
                    }
                }

                .navbar-toggler {
                    .navbar-toggler-icon {
                        span {
                            display: block;
                            height: 2px;
                            margin: 4px auto;
                            background: white;
                            width: 19px;
                            transition: 0.5s all;
                            transform-origin: 1px 50%;
                        }
                    }

                    &:not(.collapsed) {
                        .navbar-toggler-icon {
                            :first-child {
                                transform: rotate(45deg);
                            }
                            :nth-child(2) {
                                opacity: 0;
                            }
                            :nth-child(3) {
                                transform: rotate(-45deg);
                            }
                        }
                    }
                }
            }
        }

        .logo,
        .navbar-brand {
            width: 154px;
            height: 53px;

            img {
                height: 100% !important;
            }
        }

        .logo {
            position: static;
            padding: 0;
        }

        a {
            font-weight: 500 !important;
        }

        footer {
            background: $primary;
            padding: 40px 0;
            color: $white;

            .d-flex {
                padding-bottom: 24px;
                margin-bottom: 24px;

                &:first-child {
                    border-bottom: solid 1px rgba(242, 242, 242, 0.2);
                }

                &:last-child {
                    padding-bottom: 0;
                    margin-bottom: 0;
                }

                p {
                    margin-top: 16px;
                    margin-bottom: 24px;
                }

                .phone,
                .call-center {
                    padding: 10px 15px 0;
                }
            }

            a {
                color: rgba(255, 255, 255, 0.54);
                margin: 0 12px;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    color: #fff;
                }
            }

            .social-icon {
                ul {
                    display: flex;
                    margin-bottom: 30px;
                    padding: 0;
                    list-style: none;

                    li {
                        padding: 0 10px;

                        a {
                            width: 32px;
                            height: 32px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: $full-radius;
                            background: $white;
                            color: $primary;
                            font-size: 1.2rem;

                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 991px) {
            .navbar .container {
                padding-left: 0;
                padding-right: 0;
            }

            .search {
                max-width: 100%;
                min-width: 100% !important;

                form {
                    max-width: 100% !important;

                    &.autohide {
                        position: static;
                        top: 100%;
                        right: 0;
                        font-size: 1rem;
                        background: #2d5378;
                        width: 100%;
                        min-width: 100%;

                        &:hover {
                            width: 100%;
                        }

                        input {
                            max-width: 100%;
                            color: $white;
                            border-bottom: none;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 567px) {
            .navbar {
                .navbar-brand {
                    width: 40px !important;
                    height: 40px;

                    img {
                        object-position: left;
                    }
                }
            }
        }
    }
}
