:host {
    /deep/ {
        .landing-top-bar {
            background-color: #154069;
            height: 227px;
            padding-top: 56px;
        }

        .landing-logo {
            width: 154px !important;
            height: 53px;
            margin: auto;
            display: block;
        }

        .landing-form {
            margin: -73px auto 32px;
            padding: 32px 24px;
        }

        .landing-box {
            border-radius: 5px;
            -webkit-box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.06);
            box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.06);
            background: #fff;
            margin-bottom: 32px;
            line-height: 1.5;
        }

        .landing-box .landing-title {
            display: block;
            font-size: 2.25rem;
            text-align: center;
            margin-bottom: 32px;
            font-family: 'IBM Plex Sans', sans-serif;
        }

        .landing-box .landing-description {
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 16px;
            line-height: 1.75;
        }

        @media (min-width: 576px) {
            .landing-form {
                width: 470px;
                padding: 32px 40px !important;
                padding-bottom: 72px !important;
            }
        }
    }
}
