:host {
    /deep/ .navbar-brand {
        margin-right: 10px;
    }

    /deep/ ubud-topbar-layout .navbar .navbar-nav > li.nav-item > a {
        line-height: 25px;
    }

    display: block;
    min-height: 100vh;
    background-color: #e9ebee;
}
