<ubud-topbar-layout>
    <img src="/assets/images/logo-symbol-white.png" topbarLogo title="Ubud"/>

    <ul navbarMenu class="navbar-nav navbar-link" #navbarLink>
        <li class="nav-item"><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li class="nav-item"><a routerLink="/auth/register">Register</a></li>
    </ul>

    <ul navbarMenu class="navbar-nav d-flex align-items-center">
        <li class="nav-item"><a routerLink="/">Kunjungi Situs</a></li>
        <li class="nav-item">
            <naker-service-picker></naker-service-picker>
        </li>
        <li class="nav-item mobile-toggle">
            <a ubudTooltip="More" tooltipPlacement="bottom" class="icon-only"
               (click)="navbarLink.classList.toggle('active')">
                <i class="fas fa-ellipsis-v"></i>
            </a>
        </li>
    </ul>

    <router-outlet></router-outlet>
</ubud-topbar-layout>
