.card {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.06);
    display: flex;
    overflow: hidden;
    flex-direction: column;
    border-color: transparent;
}
