<section class="banner" id="banner">
    <div class="container">
        <div class="banner-content d-flex flex-column flex-lg-row justify-content-lg-between align-items-lg-center">
            <div class="section">
                <h1 class="no-margin no-padding mb-4">Home Page</h1>
                <p>
                    Welcome to home page, please explore our website
                </p>
            </div>
        </div>

        <div class="row mt-3 mb-3">
            <div class="col-12 col-md-7 mb-md-0 mb-3">
                <div class="search">
                    <form role="form">
                        <i class="fa fa-search"></i>
                        <input autocomplete="off" type="text" class="search-text" name="value"
                               placeholder="Type something to start searching..."/>
                    </form>
                </div>
            </div>

            <div class="col-12 col-md-3 ml-md-auto align-self-center">
                <div class="d-flex filter-section">
                    <button class="btn btn-default">Filter</button>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container banner-content-wrapper">
    <div class="row">
        <div class="col-md-4">
            <div class="card d-flex align-items-center justify-content-center" style="height: 250px">
                Content Here
            </div>
        </div>
        <div class="col-md-4">
            <div class="card d-flex align-items-center justify-content-center" style="height: 250px">
                Content Here
            </div>
        </div>
        <div class="col-md-4">
            <div class="card d-flex align-items-center justify-content-center" style="height: 250px">
                Content Here
            </div>
        </div>
        <div class="col-md-4">
            <div class="card d-flex align-items-center justify-content-center" style="height: 250px">
                Content Here
            </div>
        </div>
        <div class="col-md-4">
            <div class="card d-flex align-items-center justify-content-center" style="height: 250px">
                Content Here
            </div>
        </div>
        <div class="col-md-4">
            <div class="card d-flex align-items-center justify-content-center" style="height: 250px">
                Content Here
            </div>
        </div>
    </div>
</div>
