<div class="row" style="background-color: #15406a; padding: 25px 0; min-height: 200px">
    <div class="container">
        <h2 style="color: #fff">Your Apps</h2>
        <p style="font-size: 14px; color: #fff">This is list of your applications</p>
    </div>
</div>
<div class="container" style="margin-top: -80px">
    <div class="row">
        <div class="col-md-3">
            <div class="card d-flex align-items-center justify-content-center" style="height: 200px">
                <a href="" style="font-size: 16px">
                    New App
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card d-flex align-items-center justify-content-center" style="height: 200px">
                App 1
            </div>
        </div>
        <div class="col-md-3">
            <div class="card d-flex align-items-center justify-content-center" style="height: 200px">
                App 2
            </div>
        </div>
        <div class="col-md-3">
            <div class="card d-flex align-items-center justify-content-center" style="height: 200px">
                App 3
            </div>
        </div>
    </div>
</div>
