@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i');
@import '../../../../scss/variables';
@import '~@ubud/bootstrap-theme/main';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/icons';
@import '~@fortawesome/fontawesome-free/scss/fa-brands';
@import 'styles/components';

html,
body {
    height: 100%;
    width: 100%;
    background-color: $white;
    font-family: 'IBM Plex Sans';
    font-size: 14px;
}

a {
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    &:hover {
        text-decoration: none;
    }
}

small {
    font-size: 12px;
}

ubud-topbar-layout {
    .navbar {
        background-color: theme-color('primary');
        padding: 0 1rem;
        height: 43px !important;

        .navbar-brand {
            @extend .d-flex;
            @extend .justify-content-center;
            @extend .rounded;

            > img {
                height: $app-brand-height;
            }

            padding: 2px $navbar-brand-padding-x;
            margin-top: $navbar-brand-padding-y;
            margin-bottom: $navbar-brand-padding-y;

            &:hover {
                background-color: $navbar-nav-link-bg-color;
            }
        }

        .navbar-nav {
            .dropdown-menu {
                position: absolute !important;
            }

            &.navbar-link {
                margin-right: 0 !important;
                flex: 1;
            }

            .mobile-toggle {
                display: none;
            }

            @media (max-width: 768px) {
                & {
                    flex-direction: row !important;
                }

                .mobile-toggle {
                    display: inline-block;
                }

                &.navbar-link {
                    position: absolute;
                    width: 100%;
                    height: auto;
                    display: none;
                    top: 43px;
                    left: 0;
                    background: #15406a;

                    &.active {
                        display: block;
                    }

                    .nav-item {
                        display: block !important;
                        width: 100% !important;
                        margin-left: 0 !important;
                        text-align: center;

                        a {
                            border-radius: 0 !important;
                        }
                    }
                }
            }

            > li.nav-item {
                &:first-child {
                    margin-left: 0;
                }

                margin-left: 5px;

                > a {
                    @extend .d-flex;
                    @extend .justify-content-center;
                    @extend .rounded;

                    line-height: $navbar-topbar-line-height;
                    color: $navbar-nav-link-color;
                    font-weight: $navbar-font-weight;
                    font-size: $navbar-font-size;
                    padding: $navbar-brand-padding-y $navbar-brand-padding-x;
                    margin-top: $navbar-brand-padding-y;
                    margin-bottom: $navbar-brand-padding-y;

                    &.active {
                        background-color: $navbar-nav-link-active-bg-color;
                        color: $navbar-nav-link-active-color;
                    }

                    &:hover {
                        background-color: $navbar-nav-link-bg-color;
                        color: $navbar-nav-link-over-color;
                    }

                    &.icon-only {
                        min-width: $navbar-topbar-icon-only-size;

                        > i {
                            font-size: $font-size-base;
                        }
                    }

                    > i {
                        line-height: $navbar-topbar-line-height;
                    }
                }

                ubud-user-control {
                    a[ubudDropdownToggle] {
                        @extend .rounded;

                        line-height: $navbar-topbar-line-height;
                        color: $navbar-nav-link-color;
                        font-weight: $navbar-font-weight;
                        font-size: $navbar-font-size;
                        padding: $navbar-brand-padding-y $navbar-brand-padding-x;
                        margin-top: $navbar-brand-padding-y;
                        margin-bottom: $navbar-brand-padding-y;

                        &.active {
                            background-color: $navbar-nav-link-active-bg-color;

                            &:after {
                                border-color: $navbar-nav-link-active-color;
                            }

                            &:hover {
                                background-color: $navbar-nav-link-active-bg-color;
                                > img {
                                    border-color: $navbar-nav-link-active-color;
                                }
                            }
                        }

                        &:hover {
                            background-color: $navbar-nav-link-bg-color;
                            > img {
                                border-color: $navbar-nav-link-color;
                            }
                        }

                        &:after {
                            border-color: $navbar-nav-link-color;
                        }
                    }
                }
            }
        }
    }

    .ubud-main-content {
        padding-top: $navbar-topbar-main-content-margin-top;
    }
}
